/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #f5c518;
    font-size: 2.5rem; /* Incrementa el tamaño de los encabezados */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 200px; /* Incrementa el tamaño de las imágenes */
    border-radius: 50%;
    margin-bottom: 20px;
}

.interests img.inline-image {
    display: block;
    margin: 20px auto; /* Ajusta el margen para centrar mejor */
    max-width: 150px; /* Incrementa el tamaño de esta imagen */
}

.interests p {
    font-size: 1.2rem; /* Incrementa el tamaño de las letras */
    line-height: 1.6;  /* Mejora el espacio entre líneas */
    text-align: justify; /* Justifica el texto */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los elementos del ranking */
}

li {
    margin: 10px 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

li i {
    margin-right: 10px;
    color: #f5c518;
}

/* Carrusel */
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    position: relative; /* Para posicionar flechas */
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.swiper-button-next, .swiper-button-prev {
    color: #f5c518;
    top: 50%;
    transform: translateY(-50%);
}

/* Footer */
footer {
    background-color: #121212;
    color: #e0e0e0;
    padding: 20px 10px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    font-size: 1rem;
}

footer a {
    color: #f5c518;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffc107;
}

footer .social-links i {
    margin-right: 5px;
    font-size: 1.2rem;
}
